{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{# Il n'est possible d'appeler la fonction import map qu'une seule fois dans une page #}
{% block importmap %}{{ importmap(['app', 'form']) }}{% endblock %}

{% block body %}
    <style>
        output {
            margin: .5em 0;
            display: block;
            background-color: #402;
            color: #ddd;
            font-family: monospace;
            padding: 1em;
        }

        .main-selector {
            border: 2px dashed lightblue;
        }
    </style>

<div class="example-wrapper">
    <h1>{{ 'hello_world' | trans }} 👋</h1>
    <div data-controller="signature">
        <canvas data-signature-target="canvas" height="120" width="240" style="border: 1px solid black"></canvas>
        <div class="actions">
            <button data-action="click->signature#clear" class="btn btn-danger">Effacer</button>
        </div>
    </div>

    <div class="logo"><img src="{{ asset('/images/symfony_logo.svg') }}" alt="Symfony logo"></div>
    <twig:LocalSelector locale="en" class="main-selector" />
    <twig:TagShortcuts />
    <twig:Card title="Composant avec contenu HTML" image="images/symfony_logo.svg">
        <p>Du contenu HTML qui sera passé au composant.</p>
        <p>Il pourra être accédé via le block "content".</p>
    </twig:Card>
</div>
{% endblock %}
