{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello world! ✅</h1>
    <div>
        <form>
            <div>
                <label for="locale">Langue</label>
                <select name="_locale" id="locale">
                    {% for locale in ['en', 'fr', 'es', 'de'] %}
                    <option value="{{ locale }}">{{ locale | language_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button>Sélectionner</button>
        </form>

        {{ app.locale | language_name }}
    </div>
</div>
{% endblock %}
