{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{# Il n'est possible d'appeler la fonction import map qu'une seule fois dans une page #}
{% block importmap %}{{ importmap(['app', 'form']) }}{% endblock %}

{% block body %}
    <style>
        output {
            margin: .5em 0;
            display: block;
            background-color: #402;
            color: #ddd;
            font-family: monospace;
            padding: 1em;
        }
    </style>

<div class="example-wrapper">
    <h1>{{ 'hello_world' | trans }} 👋</h1>
    <div class="logo"><img src="{{ asset('/images/symfony_logo.svg') }}" alt="Symfony logo"></div>
    <twig:LocalSelector />
</div>
{% endblock %}
