{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello world! ✅</h1>
    <div>
        {{ dump(app.locale) }}
    </div>
</div>
{% endblock %}
